<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="/Areas/Admin/Assets/_layout/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Areas/Admin/Assets/_layout/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/Areas/Admin/Assets/_layout/css/datepicker3.css" rel="stylesheet" />
    <link href="/Areas/Admin/Assets/_layout/css/styles.css" rel="stylesheet" />
    <script src="/Areas/Admin/Assets/js/sp-form-admin-index.js"></script>
    <!--Custom Font-->
    <!--[if lt IE 9]>
             <script src="/Areas/Admin/Assets/_layout/js/html5shiv.min.js"></script>
             <script src="/Areas/Admin/Assets/_layout/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    @RenderBody()
    <script src="/Areas/Admin/Assets/_layout/js/jquery-1.11.1.min.js"></script>
    @*<script src="/Scripts/jquery-3.3.1.min.js"></script>*@
    <script src="/Areas/Admin/Assets/_layout/js/bootstrap.min.js"></script>
    <script src="/Areas/Admin/Assets/_layout/js/bootstrap-datepicker.js"></script>
    <script src="/Areas/Admin/Assets/_layout/js/custom.js"></script>
    <script src="/Scripts/angular.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="/Assets/plugins/ckfinder.js"></script>
    @RenderSection("scripts", required: false)
    @RenderSection("jsFooter", required: false)
</body>
</html>